html *{
  font-family: Helvetica;
}

#nav {
  list-style-type: none;
  margin: 0px;
  padding: 10px;
  background-color: red;
  overflow: hidden;
}

#crest {
  float: left;
  display: block;
  max-width:400px;
  max-height:400px;
  width: auto;
  height: auto;
  background-color: red;
  border: 2px solid black;
  margin-left: -40px
}


#nav li {
  display: inline;
  text-align: center;
  padding: 50px;
  font-size: 1.5em;
  border-right: 1px solid white;
}

#nav li:last-child{
  border-right: none;
}

#nav li a:hover{
  background-color: gray;
}

#nav a {
  color: white;
  text-decoration: none;
}

#nav li a:active {
  color: black;
}

.facts {
  background-color: white;
  border-top: 15px inset red;
  width: 400px;
  margin-left: 10px;
  text-align: left;
  float: left;
}

li p {
  font-style: italic;
}

h1{
  text-align: center;
}

#livfacts{
  list-style-type: none;
}

#trophylist{
  list-style-type: none;
}

div {
  display: inline-block;
}

.official{
  background-color: white;
  border-top: 15px inset red;
  
}

